html {
  font-size: 10px;
  /*background: url(http://i.imgur.com/b9r5sEL.jpg) bottom center;*/
  /*background-size: cover;*/
  background: white;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
	min-height: 100vh;
}

.keys {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	padding: 4em 0;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}

.actions {
	text-align: center;
    margin: 0 auto;
    padding: 1em 2em;
    font-size: 16px;
    color: #ffc600;
    font-weight: bold;

}

.record,
.play {
	display: inline-block;
	padding: 1em;
	cursor: pointer;
}

.play {
	background: rgba(83,183,6,1);
	color: white;
}

.record.is-active {
}

.play.is-inactive {
	opacity: .5;
	cursor: default;
}

.record {
  margin-right: 50px;
  width: 70px;
  height: 70px;
  text-transform: uppercase;
  text-align: center;
  line-height: 70px;
  color: white;
  border: none;
  border-radius: 50%;
  background: #ce1818;
  cursor: pointer;
}

.record.is-active {
  box-shadow: 0 0 0 0 rgba(206, 24, 24, 0.5);
  -webkit-animation: pulse 1.5s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
  }
  100% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}
